  body{
    margin:0;
    text-align:center;
    font-family: Verdana;
    background:#a37cee;
  }

  h1 {
    text-align:center;
  }

  /* Inside the body */
  .container {
    width:90%;
    margin:0 auto;
  }

  .img_container {
    position: relative;
  }

  /* defining the images that will not have hover features*/
  .img_not_hover {
    position: absolute;
    top: 0px;
    left: 2.5%;
    margin-top: 5%;
    width: 95%;
    object-fit:cover;
  }

  /* defining the images that will have hover features*/
  .img_hover {
    position: relative;
    margin-top: 5%;
    width: 95%;
    transition: opacity .5s ease-in;
  }

  .img_hover:hover {
    opacity: 0%;
    transition: opacity .3s ease-out;
  }

  input[type="radio"] {
      display:none;
  }

  label {
    width:23%;
    float:left;
    text-align:center;
    background:#ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color:#222222;
    padding:0.5%;
    margin:0.5%;
    margin-bottom:30px;
    cursor:pointer;
  }

  /* Full Team Filter */
  input[type="radio"][id="UH"]:checked + label {
    background:#45C2DD;
    color: white;
  }

  /* Team Lead Filter */
  input[type="radio"][id="TL"]:checked + label {
    background:#FFA373;
    color: white;
  }
  input[type="radio"][id="TL"]:checked ~ .HX,
  input[type="radio"][id="TL"]:checked ~ .Marketing,
  input[type="radio"][id="TL"]:checked ~ .Sponsorship, 
  input[type="radio"][id="TL"]:checked ~ .Design,
  input[type="radio"][id="TL"]:checked ~ .Tech {
    width:0;
    height:0;
    padding:0;
    margin:0;
    opacity:0;
  }

  /* HX Filter */
  input[type="radio"][id="HX"]:checked + label {
    background:#45C2DD;
    color: white;
  }
  input[type="radio"][id="HX"]:checked ~ .TL,
  input[type="radio"][id="HX"]:checked ~ .Marketing,
  input[type="radio"][id="HX"]:checked ~ .Sponsorship, 
  input[type="radio"][id="HX"]:checked ~ .Design,
  input[type="radio"][id="HX"]:checked ~ .Tech {
    width:0;
    height:0;
    padding:0;
    margin:0;
    opacity:0;
  }

  /* Marketing Filter */
  input[type="radio"][id="Marketing"]:checked + label {
    background:#FFA373;
    color: white;
  }
  input[type="radio"][id="Marketing"]:checked ~ .TL,
  input[type="radio"][id="Marketing"]:checked ~ .HX,
  input[type="radio"][id="Marketing"]:checked ~ .Sponsorship, 
  input[type="radio"][id="Marketing"]:checked ~ .Design,
  input[type="radio"][id="Marketing"]:checked ~ .Tech {
    width:0;
    height:0;
    padding:0;
    margin:0;
    opacity:0;
  }

  /* Sponsorship Filter */
  input[type="radio"][id="Sponsorship"]:checked + label {
    background:#45C2DD;
    color: white;
  }
  input[type="radio"][id="Sponsorship"]:checked ~ .TL,
  input[type="radio"][id="Sponsorship"]:checked ~ .HX,
  input[type="radio"][id="Sponsorship"]:checked ~ .Marketing, 
  input[type="radio"][id="Sponsorship"]:checked ~ .Design,
  input[type="radio"][id="Sponsorship"]:checked ~ .Tech {
    width:0;
    height:0;
    padding:0;
    margin:0;
    opacity:0;
  }

  /* Design Filter */
  input[type="radio"][id="Design"]:checked + label {
    background:#FFA373;
    color: white;
  }
  input[type="radio"][id="Design"]:checked ~ .TL,
  input[type="radio"][id="Design"]:checked ~ .HX,
  input[type="radio"][id="Design"]:checked ~ .Marketing, 
  input[type="radio"][id="Design"]:checked ~ .Sponsorship,
  input[type="radio"][id="Design"]:checked ~ .Tech {
    width:0;
    height:0;
    padding:0;
    margin:0;
    opacity:0;
  }

  /* Tech Filter */
  input[type="radio"][id="Tech"]:checked + label {
    background:#45C2DD;
    color: white;
  }
  input[type="radio"][id="Tech"]:checked ~ .TL,
  input[type="radio"][id="Tech"]:checked ~ .HX,
  input[type="radio"][id="Tech"]:checked ~ .Marketing, 
  input[type="radio"][id="Tech"]:checked ~ .Sponsorship,
  input[type="radio"][id="Tech"]:checked ~ .Design {
    width:0;
    height:0;
    padding:0;
    margin:0;
    opacity:0;
  }
  
  /* Each square that holds the photos and the text */
  .tile {
    width: 23%;
    height: auto;
    float:left;
    transition:all 1s;
    margin:0.5%;
    padding:0.5%;
    text-align:center;
    background-color: white;
    margin-bottom: 1%;
  }

  /* Easiest way to create space between the filter buttons and images */
  .space {
    height: 150px;
    width: 100px;
  }

/********************************************************************************************/
/* Special styling for smaller screens only */

@media all and (max-width: 768px) {
  .tile {
    width: 31%;
    height: auto;
    float:left;
    transition:all 1s;
    margin:0.5%;
    padding:0.5%;
    text-align:center;
    background-color: white;
    margin-bottom: 1%;
  }

  .space {
    height: 100px;
    width: 100px;
  }
}
